<!-- 
  Passando valores para url e description em fotos.component.ts
  <ap-foto url="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Sultan_the_Barbary_Lion.jpg/440px-Sultan_the_Barbary_Lion.jpg" 
  description="Leão"></ap-foto>

<ap-foto url="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Lioness_Etosha_NP.jpg/500px-Lioness_Etosha_NP.jpg" 
  description="Leoa"></ap-foto> -->

  <p class="text-center text-muted" *ngIf="!fotos.length">
    Não foi encontrada nenhuma foto!
  </p>

  <ol class="list-unstyled">
    <li *ngFor="let cols of rows" class="row">

      <div *ngFor="let foto of cols" class="col-4">
        <ap-foto [url]="foto.url" [description]="foto.description"></ap-foto>
      </div>
    </li>
</ol>